{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Home{% endblock %}
{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="menu-item active row">
                            <div class="col-md-6">
                                <h3 class="panel-title" style="font-size: 24px; font-weight: bold;">
                                    <a href="#"
                                       data-target="ticketing"
                                       class="active"
                                       onclick="togglePanel('ticketing')">Ticketing</a>
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3 class="panel-title" style="font-size: 24px; font-weight: bold;">
                                    <a href="book.html.j2" data-target="booking" onclick="togglePanel('booking')"  >Booking</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9" id="ticketing">
                                <!-- Add your ticketing content here -->
                                Ticketing panel-body content
                            </div>
                            <div class="col-md-9" id="booking" style="display:none;">
                                <!-- Add your booking content here -->
                            
                                            <li>
                                                <a href="{{ url_for('book') }}" style="color: #000000;">Click it to booking</a>
                                            </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-size: 24px; font-weight: bold;">
                            <a href="{{ url_for('cinema_location') }}">Cinemas</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="index-cinema-tab-content-container">
                            <div class="index-cinema-tab-content">
                                <div class="index-cinema-tab-row">
                                    <div class="index-cinema-tab-district" style="font-size: 18px; color: red">HK</div>
                                    <ul>
                                        <div class="cinema-name" data-cinema-id="16">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='HK', cinemasid=16) }}" style="color: #000000">MOViE MOViE Pacific Place (Admiralty)</a>
                                            </li>
                                        </div>
                                        <div class="cinema-name" data-cinema-id="20">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='HK', cinemasid=20) }}" style="color: #000000">MOViE MOViE Cityplaza (Taikoo Shing)</a>
                                            </li>
                                        </div>
                                        <div class="cinema-name" data-cinema-id="12">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='HK', cinemasid=12) }}" style="color: #000000;">PALACE ifc</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                <div class="index-cinema-tab-row">
                                    <div class="index-cinema-tab-district" style="font-size: 18px; color: red">KLN</div>
                                    <ul>
                                        <div class="cinema-name" data-cinema-id="22">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='KLN', cinemasid=22) }}" style="color: #000000">B+ cinema MOKO (Mong Kok East)</a>
                                            </li>
                                        </div>
                                        <div class="cinema-name" data-cinema-id="14">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='KLN', cinemasid=14) }}" style="color: #000000">B+ cinema apm (Kwun Tong)</a>
                                            </li>
                                        </div>
                                        <div class="cinema-name" data-cinema-id="21">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='KLN', cinemasid=21) }}" style="color: #000000">PREMIERE ELEMENTS</a>
                                            </li>
                                        </div>
                                        <div class="cinema-name" data-cinema-id="10">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='KLN', cinemasid=10) }}" style="color: #000000;">CINEMATHEQUE</a>
                                            </li>
                                        </div>
                                        <div class="cinema-name" data-cinema-id="5">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='KLN', cinemasid=5) }}" style="color: #000000;">MONGKOK</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                <div class="index-cinema-tab-row">
                                    <div class="index-cinema-tab-district" style="font-size: 18px; color: red">NT</div>
                                    <ul>
                                        <div class="cinema-name" data-cinema-id="19">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='NT', cinemasid=19) }}" style="color: #000000">MY CINEMA YOHO MALL</a>
                                            </li>
                                        </div>
                                        <div class="cinema-name" data-cinema-id="6">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='NT', cinemasid=6) }}" style="color: #000000;">KWAI FONG</a>
                                            </li>
                                        </div>
                                        <div class="cinema-name" data-cinema-id="3">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='NT', cinemasid=3) }}" style="color: #000000;">TSUEN WAN</a>
                                            </li>
                                        </div>
                                        <div class="cinema-name" data-cinema-id="9">
                                            <li>
                                                <a href="{{ url_for('cinemas', region='NT', cinemasid=9) }}" style="color: #000000;">KINGSWOOD</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 text-center">
                <div class="panel panel-default">
                    <div id="facebookDiv"
                         class="fb-like-box fb_iframe_widget"
                         data-href="https://www.facebook.com/broadwaycircuit/"
                         data-width="500"
                         data-height="700"
                         data-colorscheme="light"
                         data-small-header="true"
                         data-show-facepile="false"
                         data-show-faces="false"
                         data-header="true"
                         data-stream="true"
                         data-show-border="true"
                         fb-xfbml-state="rendered"
                         fb-iframe-plugin-query="app_id=135473501975&amp;color_scheme=light&amp;container_width=0&amp;header=true&amp;height=700&amp;href=https%3A%2F%2Fwww.facebook.com%2Fbroadwaycircuit%2F&amp;id=facebookDiv&amp;locale=en_US&amp;sdk=joey&amp;show_border=true&amp;show_faces=false&amp;stream=true&amp;width=500">
                        <span style="vertical-align: bottom; width: 500px; height: 700px;"><iframe name="f3bbc9ceca855c4"
        width="500px"
        height="700px"
        data-testid="fb:like_box Facebook Social Plugin"
        title="fb:like_box Facebook Social Plugin"
        frameborder="0"
        allowtransparency="true"
        allowfullscreen="true"
        scrolling="no"
        allow="encrypted-media"
        src="https://www.facebook.com/v4.0/plugins/like_box.php?app_id=135473501975&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df287d41b892f42%26domain%3Dwww.cinema.com.hk%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.cinema.com.hk%252Ff3e51731610312%26relation%3Dparent.parent&amp;color_scheme=light&amp;container_width=0&amp;header=true&amp;height=700&amp;href=https%3A%2F%2Fwww.facebook.com%2Fbroadwaycircuit%2F&amp;id=facebookDiv&amp;locale=en_US&amp;sdk=joey&amp;show_border=true&amp;show_faces=false&amp;stream=true&amp;width=500"
        class=""
        style="border: none;
               visibility: visible;
               width: 500px;
               height: 700px"></iframe></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
function togglePanel(panelId) {
    var ticketingPanel = document.getElementById('ticketing');
    var bookingPanel = document.getElementById('booking');
    
    if (panelId === 'ticketing') {
        ticketingPanel.style.display = 'block';
        bookingPanel.style.display = 'none';
    } else if (panelId === 'booking') {
        ticketingPanel.style.display = 'none';
        bookingPanel.style.display = 'block';
    }
}
    </script>
{% endblock %}
