{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <h1>{{ _('Success') }}</h1>
    <br/>
    <p>You have successfully booked the movie "{{ booking_data.movie }}"!</p>
    <br/>
    <p>You have successfully booked the cinema "{{ booking_data.cinema }}"!</p>
    <br/>
    <p>You have successfully booked the date "{{ booking_data.date }}"!</p>
    <br/>
    <p>You have successfully booked the seat "{{ booking_data.seat }}"!</p>
    <br/>
    <p>You have successfully booked the email "{{ booking_data.email }}"!</p>
    <br/>
    <p>You have successfully booked the Payment methods "{{ booking_data.payment_methods }}"!</p>
    <br/>
    <p>You have successfully booked the room "{{ booking_data.room }}"!</p>
    <br/>
    <p>You have successfully booked the Username "{{ booking_data.username }}"!</p>
    <br/>
    <p>
        {{ _('New User?') }} <a href="{{ url_for('register') }}">{{ _('Click to Register!') }}</a>
    </p>
    <p>
        {{ _('Login') }}
        <a href="{{ url_for('login') }}">{{ _('Click to Reset It') }}</a>
    </p>
    <p>
        {{ _('HOME') }}
        <a href="{{ url_for('index') }}">{{ _('Click to Reset It') }}</a>
    </p>

    
{% endblock %}