{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
  <head>
    <title>Cinema Booking System</title>
  </head>
  <body>
    <h1 style="text-align: center;">Cinema Booking System</h1>
    <table style="text-align: center; font-size: 20px;" align="center">
  <tr>
    <th style="text-align: center; font-size: 20px;">Cinema ID</th>
    <th style="text-align: center; font-size: 20px;">Cinema</th>
  </tr>
  <tr>
    <td>16</td>
    <td>MOViE MOViE Pacific Place (Admiralty)</td>
  </tr>
  <tr>
    <td>20</td>
    <td>MOViE MOViE Cityplaza (Taikoo Shing)</td>
  </tr>
    <tr>
    <td>14</td>
    <td>B+ cinema apm (Kwun Tong)</td>
  </tr>
  <tr>
    <td>22</td>
    <td>B+ cinema MOKO (Mong Kok East)</td>
  </tr>
    <tr>
    <td>10</td>
    <td>CINEMATHEQUE</td>
  </tr>
  <tr>
    <td>5</td>
    <td>MONGKOK</td>
  </tr>
    <tr>
    <td>12</td>
    <td>PALACE ifc</td>
  </tr>
  <tr>
    <td>21</td>
    <td>PREMIERE ELEMENTS'</td>
  </tr>
    <tr>
    <td>3</td>
    <td>TSUEN WAN</td>
  </tr>
  <tr>
    <td>6</td>
    <td>KWAI FONG</td>
  </tr>
  <tr>
    <td>9</td>
    <td>KINGSWOOD</td>
  </tr>
  <tr>
    <td>19</td>
    <td>MY CINEMA YOHO MALL'</td>
  </tr>
</table>
<table style="text-align: center; font-size: 20px;" align="center">
  <tr>
    <th style="text-align: center; font-size: 20px;">Row</th>
    <th style="text-align: center; font-size: 20px;">Numbers of row</th>
  </tr>
  <tr>
    <td>A</td>
    <td>1</td>
  </tr>
  <tr>
    <td>B</td>
    <td>2</td>
  </tr>
  <tr>
    <td>C</td>
    <td>3</td>
  </tr>
  <tr>
    <td>D</td>
    <td>4</td>
  </tr>
  <tr>
    <td>E</td>
    <td>5</td>
  </tr>
  <tr>
    <td>F</td>
    <td>6</td>
  </tr>
</table>
<H2 style="text-align: center;">Numbers of row + Numbers of col = A + 11 = Seats ID = 111 </H2>
<H2 style="text-align: center;">Special Tickets HKD40 Normal Tickets HKD80 </H2>
    <div class="row">
      <div class="col-md-5"
           style="font-size: 24px;
                  text-align: center;
                  justify-content: center;
                  margin: auto;
                  top: 30%;
                  left: 30%">
        {{ wtf.quick_form(form) }}
      </div>
    </div>
  </body>
{% endblock %}
